extends layout

block content
  .page-header
    h1=project.name + " goals"

  if project.goals
    ul
      each goal in project.goals
        li=goal.text

  h3 Add Goals
  form.form-horizontal(id='create-goals-form', action='/project/' + project._id + '/goal', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='goal') Goal
      .col-sm-7
        input.form-control(type='text', name='goal', id='goal')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-plus
          | Add